.App {
   text-align: center;
}

.cards{
   display: flex;
   align-content: center;
   }

.card{
   border-radius: 10%;
   font-size: 50%;
   background-color: aqua;
   width: 80%;
   height: 400 px;
   display:flexbox;
   vertical-align: middle;
   margin-left: 40px;
}

.card .photo{
   width: 60%;
   height: 60 px;
}